<ion-header>
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Aplicación en el módulo Desktop</h1>
  <app-componente-compartido></app-componente-compartido>
  <app-componente-dinamico></app-componente-dinamico>
</ion-content>
